<div class="flight-details-container">
    <h1>Book a flight</h1>
    <div class="flight-details-box">
      <div class="flight-details-inner-frame">
        <p><strong>Origin:</strong> {{ flightDetails.origin }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ensp;
        <strong>Boarding:</strong> {{ flightDetails.departure }}</p>
        <p><strong>Destination:</strong> {{ flightDetails.destination }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <strong>Landing:</strong> {{ flightDetails.arrival }}</p>
      </div>
      <p><strong>No. of passengers:</strong> {{ flightDetails.numberOfPassengers }}</p>
      <div *ngFor="let passenger of flightDetails.passengerNames; let i = index">
        <p><strong>Passenger {{ i + 1 }}</strong></p>
        <p> Name: {{ passenger }}</p>
        <p>Passport no.: {{ flightDetails.passportNumbers[i] }}</p>
      </div>
    </div>
    <button class="back-button" (click)="goBack()">Back to My Bookings</button>
  </div>
  