.MyBookings {
    padding: 20px;
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
  }
  
  thead th {
    border-bottom: 2px solid #ddd;
    padding: 10px;
  }
  
  tbody td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
  }
  
  button {
    padding: 5px 10px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
