<div class="my-bookings">
  <h1>My Bookings</h1>

  <!-- Upcoming Bookings Section -->
  <div *ngIf="upcomingBookings.length > 0; else noUpcomingBookings">
    <h2>Upcoming Bookings</h2>
    <div *ngFor="let booking of upcomingBookings" class="booking-card">
      <div class="image-placeholder">Destination Image</div>
      <div class="booking-details">
        <p><strong>Booking Code:</strong> {{ booking.bookingCode }}</p>
        <p><strong>Flight #:</strong> {{ booking.flightNumber }}</p>
        <p><strong>Passengers:</strong> {{ booking.numberOfPassengers }}</p>
        <p><strong>Departure:</strong> {{ booking.departure }}</p>
        <p><strong>Arrival:</strong> {{ booking.arrival }}</p>
        <button mat-raised-button color="primary" [routerLink]="['/FlightDetails', booking.bookingCode]">View </button>

      </div>
    </div>
  </div>
  <ng-template #noUpcomingBookings>
    <p class="no-bookings-message">You have no upcoming bookings at the moment.</p>
  </ng-template>

  <!-- Previous Bookings Section -->
  <div *ngIf="previousBookings.length > 0; else noPreviousBookings">
    <h2>Previous Bookings</h2>
    <div *ngFor="let booking of previousBookings" class="booking-card">
      <div class="image-placeholder">Destination Image</div>
      <div class="booking-details">
        <p><strong>Booking Code:</strong> {{ booking.bookingCode }}</p>
        <p><strong>Flight #:</strong> {{ booking.flightNumber }}</p>
        <p><strong>Passengers:</strong> {{ booking.numberOfPassengers }}</p>
        <p><strong>Departure:</strong> {{ booking.departure }}</p>
        <p><strong>Arrival:</strong> {{ booking.arrival }}</p>
        <p><strong>Origin:</strong> {{ booking.origin }} 
        <p><strong>Destination:</strong> {{ booking.destination }}</p>
        <button mat-raised-button color="primary" [routerLink]="['/flightDetails', booking.bookingCode]">View</button>
      </div>
    </div>
  </div>
  <ng-template #noPreviousBookings>
    <p class="no-bookings-message">You have no previous bookings at the moment.</p>
  </ng-template>
</div>
