.MyBookings {
    padding: 20px;
    text-align: center;
  }
  
  h2 {
    margin-top: 20px;
  }

  .booking-card {
    display: flex;
    align-items: center;
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .destination-image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }
  
  .booking-details {
    flex: 1;
  }
  
  .booking-details p {
    margin: 5px 0;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
  }
  
  thead th {
    border-bottom: 2px solid #ddd;
    padding: 10px;
  }
  
  tbody td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
  }
  
  button {
    padding: 5px 10px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .no-bookings-message {
    font-size: 1.2rem;
    color: gray;
    margin-top: 20px;
    font-weight: bold;
  }
